.App {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35vh;
}

.carousel-wrapper {
    width: 100%;
}

.rec-carousel-wrapper{
    height: 16rem;
}

.rec-arrow-right,.rec-arrow-left{
    display: none;
}

.rec.rec-dot_active {
    background: #FFE593;
}